@import "../../styles/abstracts/variables";

footer {
  background-color: $blue-midnight !important;
  height: $sp-10 + 30;
  div {
    div {
      div {
        margin: 0 auto;

        div {
          .nav-logo {
            text-decoration: none !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
              margin: 0 0 0 $sp-5;
              font-size: $h1;
              font-family: $font-main;
              font-weight: $fwXL;
              @include logo;
            }
          }
          span {
            color: $white;
          }
        }
      }
    }
  }
}
